/* Universal Styles */
.container  {
  width: 100%;
}

.body  {
  background: linear-gradient(#def2fa, #71bade);
}

.card {
  box-shadow: 2px 2px #027AF2;
  margin: .5rem;
  background: linear-gradient(#ede4d5, #ffc182);
}

.explain {
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  line-height: 1.7rem;
}

@media screen and (max-width: 480px)  {
  .explain  {
    font-size: 1.5rem;
  }
}

/* Navigation Style */

.nav-link {
  color: #027AF2;
}

.nav-link:hover {
  color: #f78f20;
  transition-duration: .5s;
}

/* Main Header Google Play link */

#Home {
  margin-top: 4.5rem;
}


  #Home p {
    display : inline-block;
    border  : 1px solid black;
    margin  : .2rem .1rem;
    width   : 1em;
    border-radius: .35rem;
    box-shadow: 4px 4px #027AF2;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    align-content: center;
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(#ede4d5, #f78f20);
  }


#Home h6  {
  margin-top: 3rem;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
}

/*  Media Rules for Heading  */

  @media screen and (max-width: 480px)  {
    #Home p{
      font-size: 2.75rem;
    }
    .explain  {
      font-size: 1.25rem;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 1200px) {
    #Home p{
      font-size: 3.5rem;
    }
  }

/* Tutorial Section */

.youtube-player {
     position: relative;
     padding-bottom: 56.23%;
     /* Use 75% for 4:3 videos */
     height: 80%;
     overflow: hidden;
     max-width: 100%;
     background: #000;
     margin: 5px;
 }

 .youtube-player iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
     background: transparent;
 }

 .youtube-player img {
     bottom: 0;
     display: block;
     left: 0;
     margin: auto;
     max-width: 100%;
     width: 100%;
     position: absolute;
     right: 0;
     top: 0;
     border: none;
     height: auto;
     cursor: pointer;
     -webkit-transition: .4s all;
     -moz-transition: .4s all;
     transition: .4s all;
 }

 .youtube-player img:hover {
     filter: brightness(75%);
 }

 .youtube-player .play {
     height: 72px;
     width: 72px;
     left: 50%;
     top: 50%;
     margin-left: -36px;
     margin-top: -36px;
     position: absolute;
     background: url("//i.imgur.com/TxzC70f.png") no-repeat;
     cursor: pointer;
 }


#Tutorial {
 padding-top: .1rem;
}

#Tutorial h1  {
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

/* How to Play */
#How-to-Play  {
  padding-top: 3.5rem;
}

.heading {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
}



/* Scoring Section */
#Scoring  {
  padding-top: 3.4rem;
}


/*   Strategy     */

#Strategy {
  padding-top: 3.4rem;
  margin-bottom: 2rem;
}


/* Table Styles */
#table  {
  margin-top: 2rem;
}

table {
  box-shadow: 2px 2px #027AF2;
  cursor: pointer;
  background: linear-gradient(#ede4d5, #ffc182);
}

.table-header  {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Game Modes */



.game-header  {
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

/* Competitive Games */


/* Footer Section */

footer  {
  margin-top: 5rem;
  background-color: #212529;
  color: #d49048;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  display: block;
}

/* Footer Media Rules */
@media screen and (max-width: 480px)  {
  footer  {
    font-size: .75rem;
  }
}

/* Search Page */

form  {
  padding-top: 4rem;
}

.search {
  width: 80%;
  height: 50rem;
}
#submit-button  {
  width: 100%;
  background: linear-gradient(#ede4d5, #ffc182);
}